@import url(layout.css);

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--variant-color);
  border-radius: 20px;
  height: auto;
  width: 400px;
  transition: 0.1s ease;
}
