@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #1e1e1e;
  --variant-color: #242424;
  --secundary-color: #ececec;
  --hover-color: #ececec4d;

  --red-color: #ff5050;
  --green-color: #78ff8c;
  --yellow-color: #ffff71;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--secundary-color);
  font-family: 'Inter', sans-serif;
}

#app {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
